body{
    background-color: #e9ecef;
}
.col-section .row .col img{
    width: 350px;
    height: 400px;
    overflow: hidden;
}
.col-section h2{
    text-align: center;
}
.col-section .row{
    align-items: center;
}
@media (max-width:472px)
{
    col-section .row .col img{
        width: 250px;
    }   
}